# Scrape

In [11]:
# Dependencies
import pymongo
import datetime
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
!pip install selenium
!pip install splinter

Requirement already satisfied: selenium in c:\users\jhoff\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\jhoff\anaconda3\lib\site-packages (from selenium) (1.25.8)
Requirement already satisfied: splinter in c:\users\jhoff\anaconda3\lib\site-packages (0.14.0)
Requirement already satisfied: six in c:\users\jhoff\anaconda3\lib\site-packages (from splinter) (1.14.0)
Requirement already satisfied: selenium>=3.141.0 in c:\users\jhoff\anaconda3\lib\site-packages (from splinter) (3.141.0)
Requirement already satisfied: urllib3 in c:\users\jhoff\anaconda3\lib\site-packages (from selenium>=3.141.0->splinter) (1.25.8)

In [12]:
executable_path = {'executable_path': 'C:\chromedriver.exe'}
browser = Browser("chrome", **executable_path, headless=False)

# Mars News

In [13]:
# URL of page to be scraped
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [22]:
# Search for News Titles
title_results = soup.find_all('div', class_='content_title')

# Search for Paragraph Text under News Titles
news_p_results = soup.find_all('div', class_='article_teaser_body')

#Extract first title and paragraph, and assign to variable
news_title1 = title_results[0].text
news_p1 = news_p_results[0].text

print(f'Title: {news_title1}; Paragraph text: {news_p1}')

Title: Mars Now; Paragraph text: An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.

# JPL Mars Space Images - Featured Image

In [68]:
# Run init_browser/driver.
browser = init_browser()

# Visit the url for JPL Featured Space Image.
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

# Select "FULL IMAGE".
browser.click_link_by_partial_text("FULL IMAGE")

# Find "more info" for first image, set to variable, and command click.
browser.is_element_present_by_text("more info", wait_time=1)
more_info_element = browser.find_link_by_partial_text("more info")
more_info_element.click()

# HTML Object.
html = browser.html

# Parse HTML with Beautiful Soup
image_soup = BeautifulSoup(html, "html.parser")

# Scrape image URL.
image_url = image_soup.find("figure", class_="lede").a["href"]

# Concatentate https://www.jpl.nasa.gov with image_url.
featured_image_url = f'https://www.jpl.nasa.gov{image_url}'

# Exit Browser.
browser.quit()

C:\Users\jhoff\anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [69]:
print(featured_image_url)
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA09178_hires.jpg

# Mars Facts

In [71]:
#Using Pandas
mars_facts_url = "https://space-facts.com/mars/"

In [75]:
table = pd.read_html(mars_facts_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [76]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Mars Facts", "Stats"]
df_mars_facts

             Mars Facts                          Stats
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [77]:
mars_html_table = df_mars_facts.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Facts</th>\n      <th>Stats</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres