# Scrape

In [97]:
# Dependencies
import pymongo
import time
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [53]:
!pip install selenium
!pip install splinter

Requirement already satisfied: selenium in c:\users\jhoff\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\jhoff\anaconda3\lib\site-packages (from selenium) (1.25.8)
Requirement already satisfied: splinter in c:\users\jhoff\anaconda3\lib\site-packages (0.14.0)
Requirement already satisfied: six in c:\users\jhoff\anaconda3\lib\site-packages (from splinter) (1.14.0)
Requirement already satisfied: selenium>=3.141.0 in c:\users\jhoff\anaconda3\lib\site-packages (from splinter) (3.141.0)
Requirement already satisfied: urllib3 in c:\users\jhoff\anaconda3\lib\site-packages (from selenium>=3.141.0->splinter) (1.25.8)

In [139]:
executable_path = {'executable_path': 'C:\chromedriver.exe'}
browser = Browser("chrome", **executable_path, headless=False)

# Mars News

In [66]:
# URL of page to be scraped
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [93]:
# Search for News Titles
title_results = soup.find_all('div', class_='content_title')

# Search for Paragraph Text under News Titles
news_p_results = soup.find_all('div', class_='article_teaser_body')

#Extract first title and paragraph, and assign to variable
news_title1 = title_results[0].text
news_p1 = news_p_results[0].text

print(news_title1)
print(news_p1)

Mars Now
An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.

# JPL Mars Space Images - Featured Image

In [101]:
# Visit the url for JPL Featured Space Image.
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

# Select "FULL IMAGE".
browser.click_link_by_partial_text("FULL IMAGE")

In [111]:
# Click again for full large image
time.sleep(2)
browser.click_link_by_partial_text('more info')

In [113]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

# Search for image source
results = soup.find_all('figure', class_='lede')
relative_img_path = results[0].a['href']

featured_img = 'https://www.jpl.nasa.gov' + relative_img_path

print(featured_img)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16028_hires.jpg

# Mars Facts

In [78]:
#Using Pandas
mars_facts_url = "https://space-facts.com/mars/"

In [79]:
table = pd.read_html(mars_facts_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [80]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Mars Facts", "Stats"]
df_mars_facts

             Mars Facts                          Stats
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [81]:
# Set index to 'Mars Facts'
df_mars_facts.set_index('Mars Facts', inplace=True)
df_mars_facts

                                              Stats
Mars Facts
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [82]:
mars_facts = df_mars_facts.to_html(header=True, index=True)
print(mars_facts)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Stats</th>
    </tr>
    <tr>
      <th>Mars Facts</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [140]:
# Visit the USGS Astrogeology site
browser.visit('https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')

In [146]:
# HTML Object.
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, "html.parser")

hemi_names = []

# Search for the names of all four hemispheres
results = soup.find_all('div', class_="collapsible results")
hemispheres = results[0].find_all('h3')

# Get text and store in list
for name in hemispheres:
    hemi_names.append(name.text)

hemi_names

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [147]:
# Each link is located in 'div' tag, class "item"
# Locate all 4 and store in variable.
hems_url = soup.find_all("div", class_="item")

# Create empty list for each Hemisphere URL.
hemis_url = []

for hem in hems_url:
    hem_url = hem.find('a')['href']
    hemis_url.append(hem_url)

In [148]:
print(hemis_url)

['/search/map/Mars/Viking/cerberus_enhanced', '/search/map/Mars/Viking/schiaparelli_enhanced', '/search/map/Mars/Viking/syrtis_major_enhanced', '/search/map/Mars/Viking/valles_marineris_enhanced']

In [149]:
# Search for thumbnail links
thumbnail_results = results[0].find_all('a')
thumbnail_links = []

for thumbnail in thumbnail_results:
    
    # If the thumbnail element has an image...
    if (thumbnail.img):
        
        # then grab the attached link
        thumbnail_url = 'https://astrogeology.usgs.gov/' + thumbnail['href']
        
        # Append list with links
        thumbnail_links.append(thumbnail_url)

thumbnail_links

['https://astrogeology.usgs.gov//search/map/Mars/Viking/cerberus_enhanced',
 'https://astrogeology.usgs.gov//search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astrogeology.usgs.gov//search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astrogeology.usgs.gov//search/map/Mars/Viking/valles_marineris_enhanced']

In [152]:
full_imgs = []

for url in thumbnail_links:
    
    # Click through each thumbanil link
    browser.visit(url)
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    # Scrape each page for the relative image path
    results = soup.find_all('img', class_='wide-image')
    relative_img_path = results[0]['src']
    
    # Combine the reltaive image path to get the full url
    img_link = 'https://astrogeology.usgs.gov/' + relative_img_path
    
    # Add full image links to a list
    full_imgs.append(img_link)

full_imgs

['https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov//cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov//cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [92]:
# Zip together the list of hemisphere names and hemisphere image links
mars_hemi_zip = zip(hemi_names, full_imgs)

hemisphere_image_urls = []

# Iterate through the zipped object
for title, img in mars_hemi_zip:
    
    mars_hemi_dict = {}
    
    # Add hemisphere title to dictionary
    mars_hemi_dict['title'] = title
    
    # Add image url to dictionary
    mars_hemi_dict['img_url'] = img
    
    # Append the list with dictionaries
    hemisphere_image_urls.append(mars_hemi_dict)

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

# MongoDB and Flask Application